# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Migrations cache
*.pyc